/* =========================
## mixin scss 
=========================*/
/*===============================
##End Mixin scss
===============================*/
/* ==========================
## Common scss
=========================== */
.card-title {
  font-size: 1rem;
  font-weight: 700;
}

.card-primary.card-outline {
  border-top: 3px solid var(--red);
}

.card-header {
  border-bottom: none;
}

.box.box-border {
  border-top: 3px solid var(--red);
}

.box {
  border-radius: 0.25rem;
}
.box .box-body {
  padding: 0.75rem 1.25rem;
}
.box .box-body h4 {
  font-size: 1.1;
}

/* ==========================
##End Common scss
=========================== */
/* ============================
## Header scss
=============================*/
header .firstbar .brand {
  margin: 0;
}
header .firstbar .brand img {
  max-width: 90px;
}
header .firstbar .search {
  margin: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
header .firstbar .search .form-group {
  width: 100%;
}
header .firstbar .nav-icons {
  margin-top: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

/* ============================
##End Header scss
=============================*/
/* =============================
## Home scss
================================ */
.carousel-wrap {
  padding: 0;
  overflow-x: hidden;
}
.carousel-wrap .carousel__slide {
  justify-content: initial;
  text-align: initial;
}
.carousel-wrap .slide-content {
  text-align: left;
}
.carousel-wrap .slide-title {
  font-size: 32px;
  color: #fff;
}
.carousel-wrap .slide-content {
  font-size: 24px;
  position: relative;
  width: 100%;
}
.carousel-wrap .img-wrap {
  position: relative;
}
.carousel-wrap .img-wrap::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
}
.carousel-wrap .text-wrap {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  display: block;
  color: #fff;
  height: 100%;
  display: flex;
  align-items: center;
}
.carousel-wrap .text-content-wrap {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
.carousel-wrap .carousel {
  padding: 0;
}
.carousel-wrap .carousel:hover .carousel__prev {
  left: 30px;
}
.carousel-wrap .carousel:hover .carousel__next {
  right: 30px;
}
.carousel-wrap .carousel__prev {
  top: 50%;
  left: -35px;
  transform: translate(-50%, -50%);
  transition: left ease-in-out 0.3s;
}
.carousel-wrap .carousel__prev svg {
  height: 42px;
  width: 42px;
}
.carousel-wrap .carousel__next {
  top: 50%;
  right: -35px;
  transform: translate(-50%, -50%);
  transition: right ease-in-out 0.3s;
}
.carousel-wrap .carousel__next svg {
  height: 42px;
  width: 42px;
}
.carousel-wrap .carousel__pagination {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
.carousel-wrap .carousel__pagination-button {
  background-color: var(--red);
}
.carousel-wrap .carousel__pagination-button--active {
  background-color: var(--light);
}

/* =============================
##End Home scss
================================ */

/*# sourceMappingURL=styles.css.map */
